<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hot Wheels Cars & Track sets | Mattel Shop</title>
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class="relative">
  <div id="loader">
    <h3>Fastest</h3>
    <h3>metal</h3>
    <h3>cars.</h3>
  </div>
  <div id="page1" class="lg:min-h-screen w-full bg-red-100 relative">
    <nav
      class="w-full banner lg:h-[100px] md:h-[80px] pl-4 py-[4px] flex items-center md:justify-between md:gap-0 gap-24 fixed top-0 left-0 z-[99] ">
      <div class="flex h-full items-center md:gap-4 gap-2">
        <img class="lg:h-32 md:h-28 h-16 cursor-pointer"
          src="../images/logo.png" alt="" onclick="window.location.href='/'" />
      </div>
      <div class="icons2 flex gap-2">
       <div>
        <form id="searchForm" class="search-form" action="/search" method="GET">
          <input type="text" name="q" placeholder="Search..." class="search-input" />
        </form>
        <i id="searchIcon"
          class="ri-search-line icon text-[#fff] lg:text-[1.8vw] md:text-[3vw] my-[20px] md:mr-[20px]  mr-[10px] translate-x-[10px]"></i>
       </div>
    
     <div class="pr-4 flex gap-2 items-center">
      <h1 class="cursor-pointer text-white text-medium lg:text-[1vw] md:text-[1.5vw] text-[1.6vw] lg:pl-[2px] hover:text-red-500 transition-all">Shop</h1>
      <h1 class="cursor-pointer text-white text-medium lg:text-[1vw] md:text-[1.5vw] text-[1.6vw] lg:pl-[2px] hover:text-red-500 transition-all">Collectors</h1>
      <h1 class="cursor-pointer text-white text-medium lg:text-[1vw] md:text-[1.5vw] text-[1.6vw] lg:pl-[2px] hover:text-red-500 transition-all">New Arrivals</h1>
      <% if (user) { %>
        <a href="/logout" class="cursor-pointer text-black bg-white px-4 py-2 rounded-md text-medium lg:text-[1vw] md:text-[1.5vw] text-[1.6vw] hover:text-red-500 transition-all">Logout</a>
      <% } else { %>
        <a href="/login" class="cursor-pointer text-white text-medium lg:text-[1vw] md:text-[1.5vw] text-[1.6vw] lg:pl-[2px] hover:text-red-500 transition-all">Login</a>
      <% } %>
     </div>
      </div>

    </nav>
 

    <video autoplay muted loop class="h-full w-full object-cover" src="../images/video.mp4"></video>
  </div>
  <div id="page2" class="lg:min-h-screen h-[50vh] w-full bg-linear-to-b from-[#4FB7E0] to-[#E9ECEC]">
    <h1 class="font-[brick] text-[#FFA825] text-center text-[5vw] text-shadow-lg py-10 clutter-heading">
      Know Your Wheels!
    </h1>
    <div class="relative">
      <img class="opacity-[50%]" src="../images/Group 4.png" alt="">
   
    <div class="carousel absolute top-1/2 -translate-y-1/2 left-0 w-full">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper px-4">
          <div class="swiper-slide">
            <img class="lg:h-60 h-24 drop-shadow-lg rounded-full" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt7a8a133c12da73cc/6761b2e1cbd7d6281d15da03/HW_1_Collector.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24 drop-shadow-lg" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt68f5e21fceac0a0a/6761b2e1fbbc1d3944097858/HW_5_Die-Cast.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24 drop-shadow-lg" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blteef1407509cc3534/67a537275f75bef33bdbd889/HW_3_Monster-Trucks.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24 drop-shadow-lg" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt4bacd89a211e13c6/6761b2e1ea6bc6337c18913e/HW_2_New-Arrivals.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24 drop-shadow-lg" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt624c6df88db56043/6761b2e1f56c1393ffbda688/HW_3_Track_Sets.png" alt="">
          </div>

          <div class="swiper-slide">
            <img class="lg:h-60 h-24" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt7a8a133c12da73cc/6761b2e1cbd7d6281d15da03/HW_1_Collector.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt68f5e21fceac0a0a/6761b2e1fbbc1d3944097858/HW_5_Die-Cast.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blteef1407509cc3534/67a537275f75bef33bdbd889/HW_3_Monster-Trucks.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt4bacd89a211e13c6/6761b2e1ea6bc6337c18913e/HW_2_New-Arrivals.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lg:h-60 h-24" src="https://images.mattel.net/image/upload/w_360,f_auto,c_scale/shop-contentstack/blt624c6df88db56043/6761b2e1f56c1393ffbda688/HW_3_Track_Sets.png" alt="">
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div> </div>
    </div>
  </div>
  <div id="page3" class="min-h-screen w-full bg-linear-to-t from-[#6FCFFB] to-[#E9ECEC] pb-10">
    <h1 class="font-[brick] text-[#FFA825] text-center text-[5vw] mb-10 text-shadow-lg clutter-heading2">
      Shop By Theme!
    </h1>

    <div class="flex  flex-col gap-4">
      <div class="flex md:flex-row flex-col justify-evenly items-center">
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10 bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Racing & Stunt</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply" src="../images/1.jpg" alt="" />
        </div>
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10  bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Garage</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply" src="../images/2.avif" alt="" />
        </div>
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10  bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Entertainment</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply " src="../images/3.avif" alt="" />
        </div>
      </div>
      <div class="flex lg:flex-row flex-col justify-evenly items-center">
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10  bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Premium</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply " src="../images/4.webp" alt="" />
        </div>
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10  bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Skate</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply " src="../images/5.avif" alt="" />
        </div>
        <div class="box opacity-0 hover:scale-[1.1] transition-all relative lg:h-72 h-64 lg:w-72 w-64 mb-10  bg-black/50 rounded-xl hover:bg-black/0 transition-all text-center">
          <h1 class="absolute z-[9] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:text-[2vw] md:text-[2.5vw] text-[8vw] text-white font-bold">Remote 
            Control
            Car</h1>
          <img class="w-full h-full object-cover rounded-xl mix-blend-multiply" src="../images/6.avif" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div id="page4" class="lg:min-h-screen  w-full text-white  relative">
    <div class="absolute lg:top-30 top-0 lg:px-20 px-4 text-black">
      <h1 class="font-bold text-[4vw]">Epic Easter Gifts</h1>
      <p class="font-semibold text-[1.2vw] w-[70%]">Fuel endless action this spring! Thrill Hot Wheels fans with full-throttle vehicles, Monster Trucks, and more.</p>
      <button class="bg-black font-bold text-white lg:px-20 px-10 py-[4px] rounded-full text-[1.2vw] mt-4 hover:scale-[1.1] transition-all">Shop Now</button>
     </div> 
     <img class="w-full object-cover " src="../images/banner.avif" alt="">

    <div class="flex flex-col lg:flex-row gap-10 items-center bg-black relative">
      <img src="../images/footer.jpg" alt="Epic Easter" class="w-full lg:h-[80vh] h-[50vh] object-cover object-bottom" />

      <div class="absolute bottom-0 left-0 flex border-b-2 border-white/60  mb-10 pb-4 w-full justify-evenly px-8 md:flex-row flex-col">
        <div class="left flex md:flex-col flex-row gap-24 pb-4">
          <img src="../images/Hot-Wheels-logo-removebg-preview (1).png" class="lg:h-30 h-10" alt="">
          <div>
            <h1 class="font-bold text-[2.5vw] md:text-center ">CHALLENGE</h1>
          <h1 class="md:text-center  font-bold text-[2.5vw]">ACCEPTED</h1>
          <h1 class="md:text-center  font-bold text-[2.5vw]">Try. Fail. Repeat. Grow</h1>
          </div>
        </div>
       <!-- HTML -->
<div class="flex lg:gap-30 gap-10">
    <div class="mid">
      <h1 class="font-bold text-[1.5vw] mb-2">About US</h1>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Mattel Corporate</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Careers</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Investor Relations</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Corporate Communications</h2>
      <br>
      <h1 class="font-bold text-[1.5vw] mb-2">Legal</h1>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Terms & Conditions</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Privacy Statement</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Cookies & Technology</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Terms of Sale</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Accessibility Statement</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Cookie Preferences</h2>
    </div>
    <div class="ryt">
      <h1 class="font-bold text-[1.5vw] mb-2">Customer Service</h1>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Contact Us</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Shipping Rates & Policy</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Return Policy</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">FAQs</h2>
      <br>
      <h1 class="font-bold text-[1.5vw] mb-2">Helpful Links</h1>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Submit Product Ideas</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Replacement Parts</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Product Registration</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Recall & Safety</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">MEGA Building Instructions</h2>
      <h2 class="footer-link text-[2vw] md:text-[1.5vw] lg:text-[1vw] font-normal">Mattel Toy Store</h2>
    </div>
  </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js" integrity="sha512-f6bQMg6nkSRw/xfHw5BCbISe/dJjXrVGfz9BSDwhZtiErHwk7ifbmBEtF9vFW8UNIQPhV2uEFVyI/UHob9r7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/ScrollTrigger.min.js" integrity="sha512-AcqPGqrrAEtEwe+ADO5R8RbdFi7tuU7b/A2cJJH0Im0D18NRk5p5s4B3E5PMuO81KFw0ClN7J5SHVUJz7KOb0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script type="module" src="../javascripts/main.js"></script>
</body>

</html>